// 字体大小
$defaultFontsize: 14px;
// 主颜色
$colorPrimary: #1F93FF;
// 经过颜色
$hoverColor: #1F93FF;
// 字体颜色
$primaryTextColor: #333333;
// 次要文字
$secondaryTextColor: #666666;
// 灰色文字
$gray: #999999;


// 边框色
$borderColor: #ebeef5;

/// 成功色
$colorSuccess: #3DB643;
/// 警告色
$colorWarning: #F89A11;
/// 错误色
$colorDanger: #FF5D5D;
/// 信息色
$colorInfo: #818790;

// 间隔 8的倍数
$spacing: 8px;
